@media (min-width: 375px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }
  body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }

  h1 {
    margin: 0;
    font-weight: 700;
  }

  h2 {
    margin: 0;
    margin-top: 80px;
  }

  p {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
  }
  .container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
  }

  #left {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  #center {
    display: flex;
    flex-direction: column;
    width: 34%;
  }
  #right {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .card {
    background-color: hsl(244, 38%, 16%);
    padding: 80px;
    height: 286px;
    width: 380px;
    border-radius: 10px 0 0 10px;
  }

  .accent {
    color: hsl(277, 64%, 61%);
  }

  .shadow {
    margin: 0;
    background-color: hsl(277, 64%, 61%);
    border-radius: 0 10px 10px 0;
  }

  img {
    margin: 0;
    opacity: 0.5;
  }
}

@media (max-width: 375px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }
  body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }

  p {
    color: hsla(0, 0%, 100%, 0.6);
  }

  .shadow,
  img {
    margin: 0;
    overflow: hidden;
    order: 1;
    border-radius: 10px 10px 0px 0px;
  }

  .shadow {
    max-width: 80%;
    background-color: hsl(277, 64%, 61%);
  }

  img {
    max-width: 100%;
    opacity: 0.5;
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    padding: 10%;
    order: 2;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0px 0 10px 10px;
  }
}
